---
import Layout from "../layouts/Layout.astro";
import Form from "../components/form.svelte";
import Paste from "../components/icons/paste-icon.astro";
import StopMan from "../components/icons/stop-man.astro";

import { getSession } from "auth-astro/server";
import { SignIn, SignOut } from "auth-astro/components";

const session = await getSession(Astro.request);

console.log("session>", session);
---

<Layout title="Short URIs App">
  <main class="max-w-screen-md mx-auto">
    <header class="pt-48 mb-20">
      <h1 class="text-white text-6xl mx-auto text-balance text-left">
        Cambia tu URL laaaaarga por una<span
          class="font-semibold text-orange-400 underline underline-offset-8 text-6xl"
        >
          CORTA</span
        >
      </h1>
      <h3 class="text-zinc-400 text-2xl mt-12">
        Pega tus urls más dificiles de recordar y recupera otra mucha más
        simplificada para recordar y compartir
      </h3>
    </header>

    <section>
      <div>
        <div class="py-10 text-center">
          {
            session ? (
              <SignOut>cerrar sesion</SignOut>
            ) : (
              <SignIn provider="google">iniciar sesion...</SignIn>
            )
          }
        </div>
        <Form client:load {session}>
          <Paste slot="icon" class="size-5" />
          <StopMan slot="stop" class="size-36 fill-transparent" />
        </Form>
      </div>
    </section>
  </main>
</Layout>
