---
import Layout from "../layouts/Layout.astro";
import Form from "../components/form.svelte";
import Paste from "../components/icons/paste-icon.astro";
---

<Layout title="Short URIs App">
  <main class="max-w-screen-md mx-auto">
    <header class="py-48">
      <h1 class="text-white text-6xl mx-auto text-balance text-left">
        Cambia tu URL laaaaarga por una<span
          class="font-semibold text-orange-400 underline underline-offset-8 text-6xl"
        >
          CORTA</span
        >
      </h1>
      <h3 class="text-zinc-400 text-2xl mt-12">
        Pega tus urls más dificiles de recordar y recupera otra mucha más
        simplificada para recordar y compartir
      </h3>
    </header>

    <section>
      <div>
        <Form client:load>
          <Paste slot="icon" class="size-5" />
        </Form>
      </div>
    </section>
  </main>
</Layout>
